.container {
    margin: 20px;
    padding: .5em;
    /* border: 5px solid rgb(224, 224, 224); */
}

.video-container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unused {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* unuse area  */
    /* background-color: rgba(154, 189, 203, 0.595); */
    /* backdrop-filter: blur(10px); */
    /* clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%); */
}

.id-area {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: rgba(127, 255, 212, 0.205);
    border: 2px rgb(96, 177, 96);
    border-style: dashed;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-id-area {
    position: absolute;
    width: 100%;
    height: 80%;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cropper-container {
    width: 80%;
    height: 60%;
    background-color: rgba(127, 255, 212, 0.205);
    border: 2px rgb(80, 89, 16);
    border-style: dashed;

    /* flex */
    /* position: relative; */
    /* width: auto;
    height: auto; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cropper-container img {
    width: 80%;
    height: auto;
    background-color: rgba(127, 255, 212, 0.205);
    border: 2px rgb(80, 89, 16);
    border-style: dashed;

    /* flex */
    /* position: relative; */
    /* width: auto;
    height: auto; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;

}



.mrz-area {
    position: absolute;
    background-color: rgba(129, 63, 228, 0.296);
    border: 2px rgba(165, 43, 226, 0.812);
    border-style: dashed;
    width: 98%;
    height: 35%;
    bottom: 1px;
}

.hidden-mrz-area {
    position: absolute;
    width: 98%;
    height: 35%;
    bottom: 1px;
}

/* 
.video-element {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
} */

.center-items {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
        margin: 10px;
        padding: .3em;
    }

    .video-container {
        height: 50%;
    }

    .id-area {
        width: 96%;
        height: 40%;
    }

    .mrz-area {
        width: 98%;
        height: 35%;
    }
}