<div class="container">
    <mat-toolbar>
        <span>MRZ Sanner</span>
    </mat-toolbar>
    <div class="button-container">
        <div class="spaced">
            <button mat-fab (click)="openCameraDialog()">
                <!-- <button mat-fab (click)="logSomething()"> -->
                <mat-icon>add_a_photo</mat-icon>
            </button>
            <div class="">
                <mat-button-toggle-group name="activeModel" [(ngModel)]="activeModel" aria-label="Font Style">
                    <mat-button-toggle value="tessaract">Tessaract</mat-button-toggle>
                    <mat-button-toggle value="dynamsoft">Dynamsoft</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="view-containers">
                <div class="capture-img">
                    <div class="img-ipt"><input type="file" #iptRef (change)="captureImage($event)" /></div>
                    <div class="result-area" #resRef></div>
                </div>
                <div class="">
                    <mat-slide-toggle [(ngModel)]="useServer" labelPosition="before">User Server!</mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

    <div class="view-section">
        <div class="view-containers">
            <div class="box">
                <mat-card apprearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Snapshot</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="box-size">
                        <div *ngIf="mrzSnapShot" class="thumbnail-container">
                            <div class="thumbnail-container">
                                <p>mrz</p>
                                <div class="thumbnail id-thumbnail">
                                    <img *ngIf="mrzSnapShot" [src]="mrzSnapShot"
                                        (click)="setCurrentSnapShot(mrzSnapShot)">
                                </div>
                            </div>
                            <div class="thumbnail-container">
                                <p>id</p>
                                <div class="thumbnail mrz-thumbnail">
                                    <img *ngIf="idSnapShot" [src]="idSnapShot" (click)="setCurrentSnapShot(idSnapShot)">
                                </div>
                            </div>
                        </div>
                        <div class="image-container" *ngIf="currentSnapShot">
                            <img [src]="currentSnapShot">
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="box">
                <!-- <mat-spinner class="spinner-overlay" *ngIf="!outputArr || !textReady" ></mat-spinner> -->
                <div class="">
                    <h3>Output</h3>
                    <div *ngIf="!outputArr || !textReady" class="spinner-container">
                        <mat-spinner class="spinner-overlay" ></mat-spinner>
                    </div>
                    <div class="output-card-container " *ngFor="let item of outputArr">
                        <mat-card class="output-card">
                            <!-- <mat-card *ngIf="outputArr && textReady" class="output-card"> -->
    
                            <div class="center-items">
                                <mat-chip>{{item.model }}</mat-chip>
                                <button mat-button (click)="copyOutputText(item)">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-button (click)="confirmOutputText(item)">
                                    <mat-icon *ngIf="item.valid" [ngStyle]="{ 'color': 'green' }">check_circle</mat-icon>
                                    <mat-icon *ngIf="!item.valid">check_circle</mat-icon>
                                </button>
                                <button mat-button (click)="deleteItem(item)">
                                    <mat-icon class="hover-danger">delete</mat-icon>
                                </button>
                            </div>
                            <br>
                            <mat-card-content>
                                {{item.outputText}}
                            </mat-card-content>
                            <!-- <mat-card-actions class="center-items">
                                <button mat-button (click)="copyOutputText(item)">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-button (click)="confirmOutputText(item)">
                                    <mat-icon *ngIf="item.valid" [ngStyle]="{ 'color': 'green' }">check_circle</mat-icon>
                                    <mat-icon *ngIf="!item.valid">check_circle</mat-icon>
                                </button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <!-- <mat-card apprearance="outlined">
                        <mat-card-header>
                            <mat-card-subtitle>Output</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="box-size">
    
                            <div *ngIf="!textReady" class="spaced">
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </div>
                            <div class="" *ngFor="let item of outputArr">
                                <mat-card *ngIf="outputArr && textReady">
                                    <mat-chip>{{item.model}}</mat-chip><br>
                                    <mat-card-content>
                                        {{item.outputText}}
                                    </mat-card-content>
                                    <mat-card-actions class="center-items">
                                        <button mat-button (click)="copyOutputText(item)">
                                            <mat-icon>content_copy</mat-icon>
                                        </button>
                                        <button mat-button (click)="confirmOutputText(item)">
                                            <mat-icon *ngIf="item.valid"
                                                [ngStyle]="{ 'color': 'green' }">check_circle</mat-icon>
                                            <mat-icon *ngIf="!item.valid">check_circle</mat-icon>
                                        </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </mat-card-content>
                    </mat-card> -->
                </div>
            </div>

        </div>

        <div class="spaced">
            <div class="button-container">
                <!-- <span><i class="material-icons">add_a_photo</i></span> -->
                <!-- <button mat-fab extended (click)="prepareImageOutputTessaract()"> -->
                <button *ngIf="activeModel === 'dynamsoft'" mat-fab extended (click)="prepareImageOutputDynamsoft()">
                    <!-- <mat-icon>directions_run</mat-icon> -->
                    <mat-icon>feature_search</mat-icon>
                    Scan
                </button>
                <button *ngIf="activeModel === 'tessaract'" mat-fab extended (click)="prepareImageOutputTessaract()">
                    <!-- <button mat-fab extended (click)="prepareImageOutputDynamsoft()"> -->
                    <!-- <mat-icon>directions_run</mat-icon> -->
                    <mat-icon>feature_search</mat-icon>
                    Scan
                </button>
            </div>
        </div>

    </div>
</div>