<div class="container">
    <mat-toolbar>
        <span>MRZ Sanner</span>
    </mat-toolbar>
    <div class="button-container">
        <div class="spaced">
            <button mat-fab (click)="openCameraDialog()">
                <!-- <button mat-fab (click)="logSomething()"> -->
                <mat-icon>add_a_photo</mat-icon>
            </button>
        </div>
    </div>

    <div class="view-section">
        <div class="view-containers">
            <div class="box">
                <mat-card apprearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Snapshot</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="box-size">
                        <div class="image-container" *ngIf="snapShot">
                            <img [src]="snapShot">
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="box">
                <mat-card apprearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Output</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="box-size">
                        {{outPutText}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="spaced">
            <div class="button-container">
                <!-- <span><i class="material-icons">add_a_photo</i></span> -->
                <button mat-fab extended (click)="prepareImageOutput()">
                    <mat-icon>directions_run</mat-icon>
                    Run
                </button>
            </div>
        </div>

    </div>
</div>