.container {
    margin: 20px;
    padding: .5em;
    border: 5px solid rgb(224, 224, 224);
}
.spaced {
    margin: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.center-items {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.view-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em
}

.image-container img{
    filter: brightness(120%); 
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}

.button-conntainer {
    margin: 2em;
    padding: 2em;
    display: flex;
    justify-content: center;
    width: 120px;
}

.box-size {
    width: 300px;
    height: 300px;
}

.thumbnail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.thumbnail {
    height: 30px;
    width: 30px;
    /* border: 1px solid grey;
    padding: 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .mrz-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.id-thumbnail img,
.mrz-thumbnail img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width: 800px) {
    .container {
        margin: 10px;
        padding: .3em;
        border: 3px solid rgb(224, 224, 224);
    }
    .spaced {
        margin: 0.5em;
    }
    .view-containers {
        flex-direction: column;
        gap: 2em;
    }
    .button-conntainer {
        margin: 1em;
        padding: 1em;
        width: 100px;
    }
    .box-size {
        width: 200px;
        height: 200px;
    }
}